.header {
  height: calc(100vh - 72px);
  background: linear-gradient(130deg, #700ab5 10%, #2636b0 100%);
}

.header .container,
.header .container .row {
  height: 100%;
}

.header .header-content .header-head h1 {
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 0.3cm;
  color: #ffffff;
  margin-bottom: 30px;
}

.header .header-content .header-desc {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
  width: 100%;
}

.header .header-content .header-actions button {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  border-radius: 0;
}

.header .header-img img {
  width: 90%;
}

@media screen and (max-width: 992px) {
  .header .header-content .header-head h1 {
    font-size: 6rem;
  }
  .header .header-content .header-desc {
    font-size: 0.8rem;
  }
  .header .header-img img{
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .header .header-content .header-head h1 {
    font-size: 5rem;
  }
  .header .header-content .header-desc {
    font-size: 0.8rem;
  }
}
