.product-details-img {
  background-color: #f4f4f4;
  box-shadow: #dfdfdf38 0px 0px 0px 3px;
}

.quantity-controller {
  user-select: none;
  cursor: pointer;
  transition: all 0.3s;
}

.quantity-controller:hover {
  background-color: #980f98;
  color: #fff;
}

.cart-btn {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #980f98 !important;
  transition: all 0.3s;
}

.cart-btn:hover {
  background-color: #c20ac2 !important;
}

@media screen and (max-width: 991px) {
  .cart-btn {
    font-size: 14px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 330px) {
  .cart-btn {
    font-size: 65% !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
  }
}

