.categories-content .Headphone {
  background-image: url("../../assets/category/cat-1.jpg");
}
.categories-content .WireleesAirbods {
  background: url("../../assets/category/cat-4.jpg");
}

.categories-content .BluetoothSpeakers {
  background: url("../../assets/category/cat-2.jpg");
}

.categories-content .SmartWatches {
  background: url("../../assets/category/cat-3.jpg");
}

.categories-content .category-card {
  height: 150px;
  width: 23%;
  margin-bottom: 20px;
  overflow: hidden;
}

.categories-content .category-card .img-handler {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s;
  cursor: pointer;
}

.categories-content .category-card .img-handler:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .categories-content .category-card {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .categories-content .category-card {
    width: 100%;
  }
}
